/* Empty. Add your own CSS if you like */

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.a-input-field {
  outline:grey solid 1px;
  margin-right:1em;
}

.button-wide {
  width:65vw;
  margin: 0 auto;
}

.item {
  border: none;
}
