<ion-view view-title="Active Games">
  <ion-content>
    <div class="row">
      <div class="col">
        <h3>Game</h3>
      </div>
      <div class="col">
        <h3>Players</h3>
      </div>
      <div class="col">
        <h3>Score</h3>
      </div>
      <div class="col">
        <h3>Time</h3>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="game in $ctrl.activeGames" href="#/app/games/{{game.id}}">
        <div class="row">
          <div class="col">
            {{game.type}}
          </div>
          <div class="col">
            {{game.p1_name}}
          </div>
          <div class="col">
            {{game.p1_score}} - {{game.p2_score}}
          </div>
          <div class="col">
            <span am-time-ago="game.time"></span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
