<ion-view view-title="Game">
  <ion-content>
    <h1>Join A Game</h1>
    <div class="list card">
      <!-- <h2>{{$ctrl.game_params.game_id}}</h2> -->
      <h3>Creator: {{$ctrl.game_params.creator_name}}</h3>
      <h3>Created: <span am-time-ago="$ctrl.game_params.start_time"></span></h3>
      <h3>Game Type: {{$ctrl.game_params.game_type}}</h3>
      <h3>Distance: {{$ctrl.distanceToHere}} miles</h3>
      <button ng-click="joinGame()" class="button button-wide button-positive" type="button" name="joinGame">Join!!</button>
</div>
  </ion-content>
</ion-view>
