<ion-view view-title="New Game">
  <ion-content>
    <form ng-submit="createGame()">
      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Game Type
          </div>
          <select ng-model="$ctrl.selectedType">
            <option ng-repeat="gameType in $ctrl.gameTypes">{{gameType}}</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-wide button-positive" type="submit">Create Game</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
