<ion-view view-title="Profile">
  <ion-content>
    <!-- <div class="list card"> -->

      <div class="item item-avatar">
        <img src="{{userInfo.avatar_url}}">
        <h1>{{userInfo.users_name}}</h1>
        <h2>$hitcoins: {{userInfo.purse}}</h2>
        <h2>Experience: {{userInfo.experience}}</h2>
        <h2>Level: {{userInfo.level}}</h2>
        <h3>Ping Pong Record: {{userInfo.pong_games_won}} - {{userInfo.pong_games_played}}</h3>
      </div>
      <button ng-click="logOut()" class="button col button-wide button-assertive" type="button" name="logOutButton">Log Out</button>



<!-- </div> -->
  </ion-content>
  <div class="tabs">
    <a class="tab-item" href="#/app/acheivements">
      Acheivements
    </a>
    <a class="tab-item" href="#/app/leaderboard">
      Leaderboard
    </a>
  </div>
</ion-view>
